{{ attach_library('romaroma/romaroma-style') }}
<div class="cats-page-content-wrapper">
    <div class="form">
        {{ form }}
    </div>

    <div class="db-table-content">
    {% for i in content %}
    <div class="db-row-content">
        <div class="db-table-field db-table-field-image">
            <a target="_blank" href="{{ i.image_url }}" >{{ i.image }}</a>
        </div>

        <div class="db-table-entered-data">
            <div class="db-table-field db-table-field-name">{{ 'This kitty name is: '|trans }} {{ i.title }}</div>
            <div class="db-table-field db-table-field-email">{{ 'Owner`s email: '|trans }}{{ i.mail }}</div>
            <div class="db-table-field db-table-field-email">{{ 'Date of publication: '|trans }} {{ i.created }}</div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
