<!DOCTYPE html>

<div class="form">
    {{ form }}
</div>
{#<div class="main-content">#}
{#    <div class="main-form">#}
{#        <div class="main-form-heading">#}
{#            <p class="heading-text">Hello! You can add a photo of your cat here.</p>#}
{#        </div>#}
{#        <div class="main-form-field-title">#}
{#            {{ form.title }}#}
{#        </div>#}
{#        <div class="main-form-field-email">#}
{#            {{ form.email }}#}
{#        </div>#}
{#        <div class="main-form-field-image">#}
{#            {{ form.image }}#}
{#        </div>#}
{#        <div class="main-form-block-4-system-message">#}
{#            {{ form.system_messages }}#}
{#        </div>#}
{#        <div class="main-form-button-submit">#}
{#            {{ form.submit }}#}
{#        </div>#}
{#    </div>#}


{#</div>#}